<!--<footer class="fixed bottom-0 mt-4 gap-2 w-full">
  <div class="w-full justify-between items-center flex p-4 bg-black/30">
    <span class="text-gray-300">Ministerio de educación © 2025</span>
    <img src="assets/images/logo_minedu.png" alt="Ministerio de Educación del Perú" class="h-8">
  </div>
</footer>-->

<footer class="w-full mt-4 bg-black/30 flex justify-between items-center">
  <div class="p-6 flex justify-start items-center gap-2">
    <span class="text-gray-300">Ministerio de educación © 2025</span>
  </div>
  <div class="p-6 flex justify-end items-center gap-2">
    <img src="assets/images/logo_minedu.png" alt="Ministerio de Educación del Perú" class="h-8">
  </div>
</footer>
