<div class="w-auto">
  <div
    class="flex items-center p-4 mb-4 text-sm text-blue-500 rounded-lg bg-blue-50 relative border border-blue-300"
    role="alert"
  >
    <div class="absolute w-4 h-4 bg-blue-500 rounded-full animate-ping"></div>
    <i class="pi pi-info-circle mr-2"></i>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium"
        >Las cantidades mostradas en la barra azul deben coincidir entre sí
      </span>
    </div>
  </div>
</div>
<div class="flex gap-4 justify-between">
  <div class="w-3/5">
    <div class="w-full">
      <div class="bg-white px-4 rounded-lg shadow-md">
        <div class="overflow-x-auto">
          <table
            class="w-full whitespace-nowrap table-auto border-separate border-spacing-y-4 border-gray-100"
          >
            <tbody class="">
              <tr
                class="focus:outline-none h-16 border border-gray-100 rounded-lg my-4 items-center w-full  focus:text-white  text-black transition"
                [ngClass]="{'hover:bg-blue-500 focus:bg-blue-500 hover:text-white': !isCompletePhase}"
                *ngFor="let docente of docentes"
              >
                <td
                  colspan="3"
                  class="border-y border-gray-200 border-l rounded-l-lg"
                >
                  <div class="flex items-center pl-5">
                    <p class="text-sm font-normal leading-none mr-2" >
                      {{ docente.label }}
                    </p>
                  </div>
                </td>
                <td
                  colspan="2"
                  class="border-y border-gray-200 border-r rounded-r-lg"
                >
                  <div class="flex items-center justify-end pr-5">
                    <p-inputnumber
                      class="rounded-md p-2"
                      [(ngModel)]="docente.cantidad"
                      maxlength="3"
                      [useGrouping]="false"
                      [inputStyle]="{ width: '100px' }"
                      (ngModelChange)="changeCantidadDocentes()"
                      [disabled]="isCompletePhase && !isUpdateEnable"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot class="">
              <tr
                class="bg-blue-500 font-semibold text-white focus:outline-none h-16 rounded my-4 mb-0 items-center w-full"
              >
                <td
                  colspan="3"
                  class="px-4 py-3 text-left tracking-wider border-t border-gray-200"
                >
                  <div class="flex items-center">
                    <p class="text-base font-medium leading-none mr-2">Total</p>
                  </div>
                </td>
                <td
                  colspan="2"
                  class="px-6 pr-16 py-3 text-right tracking-wider font-semibold border-t border-gray-200 text-lg"
                >
                  {{ getTotalDocentes() }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w-2/5">
    <div class="w-full">
      <div class="bg-white p-4 flex flex-col gap-4 rounded-lg shadow-md">
        <h2 class="text-lg">Caracterización del público objetivo</h2>
        <div class="flex flex-col gap-4">
          <div class="bg-gray-300 text-gray-500">
            <p class="text-xs font-semibold px-4 py-3 uppercase">Género</p>
          </div>
          <div class="flex flex-col gap-4">
            <div
              class="w-full flex justify-between items-center gap-5 text-black  focus:text-white  rounded-lg transition"
              [ngClass]="{'hover:bg-blue-500 focus:bg-blue-500 hover:text-white': !isCompletePhase}"
              *ngFor="let genero of generos"
            >
              <div class="ml-8">
                <span class="text-sm font-normal">{{ genero.label }}</span>
              </div>
              <div class="p-2">
                <p-inputnumber
                  class="rounded-md p-2"
                  [(ngModel)]="genero.cantidad"
                  maxlength="3"
                  [useGrouping]="false"
                  [inputStyle]="{ width: '100px' }"
                  (ngModelChange)="changeCantidadGeneros()"
                  [disabled]="isCompletePhase && !isUpdateEnable"
                />
              </div>
            </div>

            <div
              class="w-full flex justify-between items-center gap-5 border-t border-gray-200 text-white animation-ease-in-out duration-300"
              [ngClass]="{
                'bg-red-500': isGenerosInvalid,
                'bg-blue-500': !isGenerosInvalid
              }"
            >
              <div class="ml-8">
                <span class="text-sm font-normal">Total</span>
              </div>
              <div class="p-2 mr-12">
                <span
                  class="text-sm font-semibold"
                  >{{ getTotalGeneros() }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="bg-gray-300 text-gray-500">
            <p class="text-xs font-semibold px-4 py-3 uppercase">Edad</p>
          </div>
          <div class="flex flex-col gap-4">
            <div
              class="w-full flex justify-between items-center gap-5 text-black  focus:text-white  rounded-lg transition"
              [ngClass]="{'hover:bg-blue-500 focus:bg-blue-500 hover:text-white': !isCompletePhase}"
              *ngFor="let edad of edades"
            >
              <div class="ml-8">
                <span class="text-sm font-normal">{{ edad.label }}</span>
              </div>
              <div class="p-2">
                <p-inputnumber
                  class="rounded-md p-2"
                  [(ngModel)]="edad.cantidad"
                  maxlength="3"
                  [useGrouping]="false"
                  [inputStyle]="{ width: '100px' }"
                  (ngModelChange)="changeCantidadEdades()"
                  [disabled]="isCompletePhase && !isUpdateEnable"
                />
              </div>
            </div>
            <div
              class="w-full flex justify-between items-center gap-5 border-t border-gray-200 text-white animation-ease-in-out duration-300"
              [ngClass]="{
                'bg-red-500': isEdadesInvalid,
                'bg-blue-500': !isEdadesInvalid
              }"
            >
              <div class="ml-8">
                <span class="text-sm font-normal">Total</span>
              </div>
              <div class="p-2 mr-12">
                <span
                  class="text-sm font-semibold"
                  >{{ getTotalEdades() }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
