/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

body{
  
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


app-information-implementation  .p-datepicker{
  width: 100% !important;
}

